<div class="text-center">
  <h2 class="jumbotron">V.B.C Participant Details</h2>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-sm table-hover">
      <tr>
         <th>NAMEs</th>
         <th>ADDRESSES</th>
         <th>GENDER</th>
         <th>PHONE-NUMBER</th>
         <th>Days-Of-Week-Attended</th>
         
      </tr>
      <tr *ngFor="let register of registerlist">
    
        <td>{{register.name}}</td>
        <td>{{register.address}}</td> 
        <td>{{register.gender}}</td>
        <td>{{register.PhoneNumber}}</td>
    
        
        <span *ngIf="checkIfDayExists(register, 'tues'); else tues">
            <label>Tues</label>
            <input type="checkbox" (click)="foo(register, 'tues')"
            [checked]="true">
        </span>
        <ng-template #tues>
            <label>Tues</label>
            <input type="checkbox" (click)="foo(register, 'tues')"
            [checked]="false">
        </ng-template>
        <span *ngIf="checkIfDayExists(register, 'wed'); else wed">
            <label>Wed</label>
            <input type="checkbox" (click)="foo(register, 'wed')"
            [checked]="true">
        </span>
        <ng-template #wed>
            <label>Wed</label>
            <input type="checkbox" (click)="foo(register, 'wed')"
            [checked]="false">
        </ng-template>
        <span *ngIf="checkIfDayExists(register, 'thurs'); else thurs">
            <label>Thurs</label>
            <input type="checkbox" (click)="foo(register, 'thurs')"
            [checked]="true">
        </span>
        <ng-template #thurs>
            <label>Thurs</label>
            <input type="checkbox" (click)="foo(register, 'thurs')"
            [checked]="false">
        </ng-template>
        <span *ngIf="checkIfDayExists(register, 'fri'); else fri">
            <label>Fri</label>
            <input type="checkbox" (click)="foo(register, 'fri')"
            [checked]="true">
        </span>
        <ng-template #fri>
            <label>Fri</label>
            <input type="checkbox" (click)="foo(register, 'fri')"
            [checked]="false">
        </ng-template>
      </tr>
      
      
    
    </table>

  </div>
  <button class="btn btn-default" type="button" [routerLink]="['./register']">
    <i class="fa fa-back"></i>
    <--Back</button>


</div>
