<div class="text-center">
  <h2 class="jumbotron">VACATION BIBLE COURSE REGISTRATION</h2>
</div>
<div class="row">
  <div class="col-md-12">
    <form #registerForm="ngForm" (ngSubmit) = "onSubmit(registerForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="registerService.selectedregister.$key">
      <div class="form-group">
        <label >Names</label>
        <input class="form-control" name="name" #name="ngModel" [(ngModel)]="registerService.name" placeholder="Enter Full Name"  required>
      </div>
      <div class="form-group">
        <label >Home Address</label>
        <input class="form-control" name="address" #address="ngModel" [(ngModel)]="registerService.address" placeholder="Address" required>
      </div>
      <div class="form-group">
        <label >Gender</label>
        <input class="form-control" name="gender" #gender="ngModel" [(ngModel)]="registerService.gender" placeholder="Gender">
      </div>
      <div class="form-group">
        <label >Phone-Number</label>   
            <input class="form-control" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="registerService.PhoneNumber" placeholder="Your Phone NUmber">      
      </div>
      <div class="form group">
        <button class="btn btn-default" type="submit" [disabled]="!registerForm.valid">
          <i class="fa fa-floppy-o"></i>
          Submit</button> 
        <button class="btn btn-default" type="button" (click)="resetForm(registerForm)">
          <i class="fa fa-repeat"></i>
          Reset</button> 
          <button class="btn btn-default" type="button" [routerLink]="['./registerlist']">
            <i class="fa fa-address-card"></i>
            View Registered Details</button>
      </div>
      
    </form> 
    
    
    
   
  </div>

  
</div>
